$bg-color: #282c34;
$color-white: #cacaca;
$color-green: #1ff042;
$inner-shadow: inset 0 -2px 4px #cecece, inset 0 1px 15px #000;
$top-left-gr-black: linear-gradient(162deg, #3c3c3c 10%, #000 68%, #000 100%);

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

@mixin txtShadowMaker($color) {
  text-shadow: 0 0 10px rgba($color, 0.5), 0 0 20px rgba($color, 0.7);
}

html,
body {
  margin: 0;
  padding: 0;
  color: $color-green;
  width: 100%;
}
* {
  box-sizing: border-box;
}
button {
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.time-text {
  font-family: "Digital";
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pomodoro-wrapper {
  width: 320px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background: $top-left-gr-black;
  box-shadow: $inner-shadow;
}

.countdown-ctrl-wrapper {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;

  button {
    display: inline-block;
    padding: 0;
    margin: auto;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    color: #cacaca;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.countdown-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2.5rem 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  #time-left {
    font-size: 4rem;
    padding-bottom: 1rem;
    @include txtShadowMaker($color-green);
  }
  .tomato {
    width: 80px;
    padding-bottom: 1rem;
  }
}

.time-controls {
  display: flex;
  width: 100%;

  border-top: 2px solid #333;

  & .time-control:first-of-type {
    padding-right: 1rem;
  }

  .time-control {
    padding-top: 2rem;

    margin: auto;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    color: #666;

    .fccwontletme {
      display: flex;
      font-family: "Digital";
      justify-content: center;

      span {
        margin-top: auto;
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }
    }

    .len-text {
      display: inline-block;
      margin-top: auto;
      font-size: 2.5rem;
      padding-top: 1rem;
      color: $color-white;
      @include txtShadowMaker(#cacaca);
    }

    .incdec-wrapper {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      font-size: 2rem;

      button {
        background: transparent;
        color: #666;
        border: none;
        width: 34px;
        height: 34px;
        border-radius: 50%;

        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

#time-left {
  & :nth-child(3) {
    position: relative;
    animation: flickerColon 1s infinite;
    top: -5px;
  }
}

@keyframes flickerColon {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

//svg tomato
svg {
  width: 100px;
  padding-bottom: 1rem;
}

.tail0 {
  fill: #4dc430;
}
.tail1 {
  fill: #3aad1a;
}
.st2 {
  fill: #ff4800;
}
.st3 {
  fill: #c62b00;
}
.st4 {
  fill: #ff794a;
}
.st5 {
  fill: #ef683f;
}
.st6 {
  fill: #b21010;
}
.st7 {
  fill: #a00000;
}
.seed {
  fill: #ffcd50;
  animation: seedAnim 1.5s ease-in-out infinite alternate;
}

.loader {
  stroke: rgba(#c62b00, 0.5);
  stroke-width: 37px;
  fill: transparent;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: center;
}

@keyframes seedAnim {
  0% {
    fill: #ffcd50;
  }
  20% {
    fill: darken($color-green, 10);
  }
  100% {
    fill: #ffcd50;
  }
}

@for $y from 1 through 13 {
  .seed:nth-of-type(#{$y}) {
    animation-delay: $y * 0.15s;
  }
}
